@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css");

header {
  display: flex;
  width: 100vw;
  height: 70px;
  background-color: rgb(0, 0, 0);
  align-items: center;
  position: fixed;
  z-index: 2;
}

.login-back {
  width: 100%;
  height: 100vh;
  background-image: url("../img/aaron-burden-yWYP1hrFAn8-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.card {
  max-width: 300px;
  padding: 50px 10px;
  margin: 0 auto;
  background: #fff;
  color: #000;
  text-shadow: none;
  border-radius: 10px;
  text-align: center;
}

#username, #password {
  margin: 10px;
  display: inline-block;
  border-radius: 3px;
  box-sizing: border-box;
  border: solid 1.5px #000;
  outline: none;
}

.card .log-submit {
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  background: #000;
  color: #fff;
  outline: none;
  text-decoration: none;
}

.full {
  width: 100%;
  height: 100vh;
  background-image: url("../img/pengxiao-xu-vJZe1Z0fT1c-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.title-a {
  color: #fff;
  text-decoration: none;
}

.menu-item {
  list-style: none;
  text-decoration: none;
  display: inline-block;
  padding: 20px;
}

.menu-item-a {
  color: #fff;
  text-decoration: none;
}

.head-search {
  display: inline-block;
  border: none;
  background-color: #fff;
  margin-left: 30px;
  border-radius: 3px;
  height: 25px;
  width: 180px;
  box-sizing: border-box;
  outline: none;
}

.head-submit {
  display: inline-block;
  border: none;
  margin-left: 5px;
  padding: 5px 10px;
  border-radius: 3px;
  background: #fff;
  color: #000;
  outline: none;
  text-decoration: none;
}

body {
  font-family: "メイリオ";
  color: #fff;
  background-color: #000;
  text-shadow: 1px 1px 5px #000;
  margin: 0;
}

.wave {
  margin: 0;
  padding: 0;
}

canvas {
  /* デフォルトがinlineだからblockにして隙間をなくす */
  display: block;
}

.in-submit {
  background-color: #fff;
  color: #000;
  border: 0;
  outline: none;
  font-size: 15pt;
  padding: 15px 50px;
  border-radius: 5px;
  cursor: pointer;
  transition: .3s;

}

input[type=submit]:hover {
  opacity: 0.8;
}

h2 {
  padding: 5px 10px;
}

.st-button {
  display: inline-block;
  font-size: 15pt;
  text-align: center;
  cursor: pointer;
  padding: 15px 50px;
  background: #000;
  color: #fff;
  opacity: 1;
  transition: .3s;
  border-radius: 5px;
  text-decoration: none;
  margin-top: 10px;
  margin-bottom: 10px;
}

.st-button:hover {
  opacity: 0.8;
}

.area-button {
  display: inline-block;
  font-size: 15pt;
  text-align: center;
  cursor: pointer;
  padding: 15px 50px;
  background: #000;
  color: #fff;
  opacity: 1;
  transition: .3s;
  border-radius: 5px;
  text-decoration: none;
  margin-top: 10px;
  margin-bottom: 10px;
}

.area-button:hover {
  opacity: 0.8;
}


/*ページ*：みんなの思い出をみる*/


.grad-btn {
  /*.grad-btnのCSSは表示/非表示の動作には関係ないので、ご自由にどうぞ。*/
  font-size: 13pt;
  /* 文字サイズ */
  text-align: center;
  /* 文字位置   */
  cursor: pointer;
  /* カーソル   */
  padding: 13px 10px;
  /* 余白       */
  background: #f7f2f2;
  /* 背景色     */
  color: #000;
  /* 文字色     */
  line-height: 1em;
  /* 1行の高さ  */
  opacity: 1;
  /* 透明度     */
  transition: .3s;
  /* なめらか変化 */
  border-radius: 5px;
  /*縁を丸める*/
  text-decoration: none;
  width: 170px;
}

.grad-btn::before {
  content: "続きを見る"
}

.grad-item {
  position: relative;
  overflow: hidden;
  height: 500px;
  /*隠した状態の高さ*/
}

.grad-item::before {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30px;
  /*グラデーションで隠す高さ*/
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 50%, rgba(255, 255, 255, 0.9) 50%, #fff 100%);
  background: linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 50%, rgba(255, 255, 255, 0.9) 50%, #fff 100%);
  content: "";
}

.grad-trigger {
  display: none;
  /*チェックボックスは常に非表示*/
}

.grad-trigger:checked~.grad-btn::before {
  content: "閉じる"
    /*チェックされていたら、文言を変更する*/
}

.grad-trigger:checked~.grad-item {
  height: auto;
  /*チェックされていたら、高さを戻す*/
}

.grad-trigger:checked~.grad-item::before {
  display: none;
  /*チェックされていたら、grad-itemのbeforeを非表示にする*/
}


/*ページ：思い出を記録する*/


/*フォーム単体全体の設定*/
div.form {
  margin-top: 10px;
  margin-bottom: 10px;
}

label {
  font-weight: bold;
  display: block;
}

/*水族館のなまえ選択の設定*/
.name {
  line-height: 1.2;
  /* 行の高さ */
  border-radius: 5px;
  height: 25px;
  box-sizing: border-box;
  /* ※これがないと横にはみ出る */
}

/*日付選択の設定*/
.date {
  line-height: 1.2;
  /* 行の高さ */
  border: none;
  border-radius: 5px;
  height: 25px;
  width: 200px;
  box-sizing: border-box;
}

/*テキストエリアの設定*/
textarea {
  font-family: "メイリオ";
  color: #000;
  line-height: 1.4;
  /* 行の高さ */
  border: none;
  border-radius: 5px;
  height: 120px;
  width: 800px;
  /* 横幅いっぱいにする */
  box-sizing: border-box;
  /* ※これがないと横にはみ出る */
  vertical-align: top;
}

div.all-form {
  border-radius: 5px;
  padding: 20px 80px;
  margin-top: 30px;
}

div.button {
  text-align: center;
  margin-top: 20px;
}

/*レーティング*/
.fa {
  font-size: 30px;
}

.rating {
  font-size: 0;
  width: 140px;
}

.fa-star {
  content: '★';
}

.fa-star-o {
  content: '☆';
}

div.container {
  margin: 0 auto;
  padding: 20px 20px 0 20px;

}


/*エリアで探す*/
.back {
  background: linear-gradient(#010a34, #000);
}

div.spacer {
  height: 70px;
}

div.basho {
  display: flex;
  margin: 0 20px;
  color: #fff;
  text-shadow: none;
}

div.detail {
  flex: 1;
  text-align: center;
}

div.detail-review {
  flex: 1;
  background: #e0e4f7;
  text-align: center;
  color: #000;
}

div.review-item {
  padding: 10px;
}

a {
  text-decoration: none;
  color: #fff;
}

h3 {
  background-color: #fff;
  color: #000;
  text-shadow: none;
  padding: 10px;
}