@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css");

header {
  display: flex;
  width: 100vw;
  height: 70px;
  background-color: #fff;
  align-items: center;
  position: fixed;
  z-index: 2;
  color: #2E75B6;
  white-space: nowrap;
}

.title-a {
  color: #000;
  text-decoration: none;
}

.menu-item, .login-item {
  list-style: none;
  text-decoration: none;
  display: inline-block;
  padding: 20px;
}

.menu-item-a, .login-item-a {
  color: #2E75B6;
  text-decoration: none;
}

input[name=btn_logout] {
	background-color: #F2F2F2;
  color: #2E75B6;
  border: none;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", "Helvetica Neue", HelveticaNeue, YuGothic, "Yu Gothic Medium", "Yu Gothic", Verdana, Meiryo, sans-serif;
  margin: 0;
}

.container {
  margin: 0 auto;
  padding: 20px 0;
  color: #5B9BD5;
  white-space: nowrap;
}

h1 {
color: #2E75B6;
}

h2 {
  color: #2E75B6;
  padding: 5px 10px;
}

.wave {
  margin: 0;
  padding: 0;
}

canvas {
  /* デフォルトがinlineだからblockにして隙間をなくす */
  display: block;
}

.memory {
  background-color: #F2F2F2;
}

.in-submit {
  background-color: #fff;
  color: #000;
  border: 0;
  outline: none;
  font-size: 15pt;
  padding: 15px 50px;
  border-radius: 5px;
  cursor: pointer;
  transition: .3s;

}

input[type=submit]:hover {
  opacity: 0.8;
}

.column{
  list-style-type: none;
  padding: 0;
  column-count: 2;
  max-width: 600px;
 }

li {
  width: 70px;
}

.area-button-b, .area-button-w {
  display: inline-block;
  padding: 10px 70px;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  font-size: 15pt;
  cursor: pointer;
  opacity: 1;
  transition: .3s;
}

.area-button-b {
  background: #5B9BD5;
  color: #fff;
}

.area-button-w{
  background: #fff;
  color: #5B9BD5;
}

.area-button-b:hover, .area-button-w:hover {
  opacity: 0.8;
}

.st-button-b, .st-button-w {
  display: inline-block;
  padding: 30px 70px;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
  font-size: 15pt;
  cursor: pointer;
  opacity: 1;
  transition: .3s;
}

.st-button-b {
  margin: 10px 5px 30px 30px;
  background: #5B9BD5;
  color: #fff;
}

.st-button-w {
  margin: 10px 30px 30px 5px;
  background: #fff;
  color: #5B9BD5;
}

.st-button-b:hover, .st-button-b:hover {
  opacity: 0.8;
}

/*エリアで探す*/
.back {
  background: #fff;
}

div.spacer {
  height: 70px;
}

div.basho {
  margin: 20px 0;
  padding: 10px 0;
  text-align: center;
  background: #F2F2F2;
  color: #5B9BD5;
}

h3 {
  text-shadow: none;
  padding: 10px;
}

a {
  color: #5B9BD5;
}

/*おもいで　ふりかえる*/

.grad-btn {
  /*.grad-btnのCSSは表示/非表示の動作には関係ないので、ご自由にどうぞ。*/
  font-size: 13pt;
  /* 文字サイズ */
  text-align: center;
  /* 文字位置   */
  cursor: pointer;
  /* カーソル   */
  padding: 13px 10px;
  /* 余白       */
  background: #f7f2f2;
  /* 背景色     */
  color: #000;
  /* 文字色     */
  line-height: 1em;
  /* 1行の高さ  */
  opacity: 1;
  /* 透明度     */
  transition: .3s;
  /* なめらか変化 */
  border-radius: 5px;
  /*縁を丸める*/
  text-decoration: none;
  width: 170px;
}

.grad-btn::before {
  content: "続きを見る"
}

.grad-item {
  position: relative;
  overflow: hidden;
  height: 500px;
  /*隠した状態の高さ*/
}

.grad-item::before {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30px;
  /*グラデーションで隠す高さ*/
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 50%, rgba(255, 255, 255, 0.9) 50%, #fff 100%);
  background: linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 50%, rgba(255, 255, 255, 0.9) 50%, #fff 100%);
  content: "";
}

.grad-trigger {
  display: none;
  /*チェックボックスは常に非表示*/
}

.grad-trigger:checked~.grad-btn::before {
  content: "閉じる"
    /*チェックされていたら、文言を変更する*/
}

.grad-trigger:checked~.grad-item {
  height: auto;
  /*チェックされていたら、高さを戻す*/
}

.grad-trigger:checked~.grad-item::before {
  display: none;
  /*チェックされていたら、grad-itemのbeforeを非表示にする*/
}

/*おもいで　記録する*/

/*フォーム単体全体の設定*/
div.form {
  margin-top: 10px;
  margin-bottom: 10px;
}

label {
  font-weight: bold;
  display: block;
}

/*水族館のなまえ選択の設定*/
.name {
  line-height: 1.2;
  /* 行の高さ */
  border-radius: 5px;
  height: 25px;
  box-sizing: border-box;
  /* ※これがないと横にはみ出る */
}

/*日付選択の設定*/
.date {
  line-height: 1.2;
  /* 行の高さ */
  border: none;
  border-radius: 5px;
  height: 25px;
  width: 200px;
  box-sizing: border-box;
}

/*テキストエリアの設定*/
textarea {
  font-family: "メイリオ";
  color: #000;
  line-height: 1.4;
  /* 行の高さ */
  border: none;
  border-radius: 5px;
  height: 120px;
  width: 800px;
  /* 横幅いっぱいにする */
  box-sizing: border-box;
  /* ※これがないと横にはみ出る */
  vertical-align: top;
}

div.all-form {
  border-radius: 5px;
  padding: 20px 80px;
  margin-top: 30px;
}

div.button {
  text-align: center;
  margin-top: 20px;
}